[submodule "dirtyzipf"]
	path = dirtyzipf
	url = git@github.com:ekg/dirtyzipf.git
[submodule "smhasher"]
	path = smhasher
	url = git@github.com:aappleby/smhasher.git
[submodule "libcuckoo"]
	path = libcuckoo
	url = git@github.com:efficient/libcuckoo.git
